:root {
  --book-blue: #3498db;
  --book-red: #e74c3c;
  --book-green: #2ecc71;
  --book-yellow: #f1c40f;
  --book-purple: #9b59b6;
  --book-orange: #e67e22;
  --font-almost-black: #222222;
  --bg-color: #e7e7e7;
  --bg-shelves: #a5a5a5;
  --shelves: #303030;
  --button-active: #36ce75;
}

* {
  box-sizing: border-box;
  color: var(--font-almost-black);
}

body {
  padding: 1rem;
  margin: 0;
  background-color: var(--bg-color);
}

main {
  max-width: 800px;
  margin: 0 auto;
}

h1 {
  text-align: center;
  font-size: 4rem;
  font-family: lora, serif;
}

.info-section {
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: space-between;
  font-family: Rubik, sans-serif;
  line-height: 150%;
}

.info-section p {
  margin: 0;
}

.selection {
  margin-bottom: 20px;
  margin-top: auto;
}

.sort-and-filter {
  margin-top: auto;
  width: 200px;
}

ul {
  margin-bottom: 0;
}

.sort select,
.filter input {
  width: 100%;
  font-family: inherit;
  border: 1px solid var(--font-almost-black);
  box-shadow: 2px 2px 0 0 var(--font-almost-black);
  background-color: white;
}

.sort .buttons-sort-order,
.filter .button-filter {
  margin: 10px 0 20px 0;
  display: flex;
  gap: 10px;
  justify-content: flex-end;
}

.buttons-sort-order button,
.button-filter button {
  font-family: inherit;
  font-size: inherit;
  font-weight: 600;
  border: 1px solid var(--font-almost-black);
  box-shadow: 2px 2px 0 0 var(--font-almost-black);
}

button.active {
  background-color: var(--button-active);
}

button:hover {
  opacity: 0.8;
}

/* Bookshelf: */
form.form-bookshelf {
  width: 100%;
  margin: 40px 0 0 0;
  border: 20px var(--shelves) solid;
  border-bottom: 0;
  overflow: hidden;
  background-image: linear-gradient(
    var(--bg-shelves) 210px,
    var(--shelves) 210px,
    var(--shelves) 230px
  );
  background-size: 10px 230px;
}

.book {
  height: 210px;
  margin: 0 0 20px 0;
  padding: 10px 5px;
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  justify-content: center;
  border: 1px solid var(--shelves);
  float: left;
}

.book p {
  text-align: start;
  writing-mode: vertical-rl;
  margin: 0;
  font-weight: 500;
}

.no-matches {
  background-color: var(--bg-shelves);
  border: none;
  width: 100%;
  align-items: center;
  font-family: rubik, sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  color: var(--font-almost-black);
  font-style: italic;
}
