:root {
  --book-blue: #3498db;
  --book-red: #e74c3c;
  --book-green: #2ecc71;
  --book-yellow: #f1c40f;
  --book-purple: #9b59b6;
  --book-orange: #e67e22;
  --font-almost-black: #222222;
  --bg-color: #dddddd;
  --bg-shelves: #969696;
  --shelves: #303030;
}

* {
  box-sizing: border-box;
}

body {
  padding: 1rem;
  margin: 0;
  background-color: var(--bg-color);
}

main {
  max-width: 800px;
  margin: 0 auto;
}

.info-section {
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

/* Bookshelf: */

form.form-bookshelf {
  width: 100%;
  margin: 20px 0 0 0;
  border: 20px var(--shelves) solid;
  border-bottom: 0;
  overflow: hidden;
  background-image: linear-gradient(
    var(--bg-shelves) 210px,
    var(--shelves) 210px,
    var(--shelves) 230px
  );
  background-size: 10px 230px;
  box-shadow: 0 0 8px 0px var(--font-almost-black);
  /* box-shadow: 8px 8px 0 0 var(--font-almost-black); */
}

.book {
  height: 210px;
  margin: 0 0 20px 0;
  padding: 10px 5px;
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  justify-content: center;
  border: 2px solid var(--font-almost-black);
  /* box-shadow: inset 0 0 2px 0 var(--font-almost-black); */
  float: left;
}

.book p {
  text-align: start;
  writing-mode: vertical-rl;
  margin: 0;
  font-weight: 500;
  color: var(--font-almost-black);
}
