* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
}

/* Bookshelf: */
.bookshelf {
  display: flex;
  flex-direction: column;
  /* position: absolute;
  left: 20px;
  bottom: 0px; */
}

form {
  background-color: brown;
  height: 700px;
  width: 1000px;
  margin: 0;
  border: 0;
  padding: 20px 20px;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  flex-direction: row;
  /* gap: 10px; */
}

.legs {
  height: 50px;
  width: 1000px;
  display: flex;
  justify-content: space-between;
}

.leg {
  background-color: brown;
  height: 50px;
  width: 20px;
}

.book {
  height: 210px;
}
